<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="Doctor" type="com.shithead.haodfcrawler.vo.Doctor"/>
        <typeAlias alias="DoctorInfo" type="com.shithead.haodfcrawler.vo.DoctorInfo"/>
        <typeAlias alias="HospitalInfo" type="com.shithead.haodfcrawler.vo.HospitalInfo"/>
        <typeAlias alias="DoctorData" type="com.shithead.haodfcrawler.vo.DoctorData"/>
        <typeAlias alias="PaymentData" type="com.shithead.haodfcrawler.vo.PaymentData"/>
        <typeAlias alias="ServiceData" type="com.shithead.haodfcrawler.vo.ServiceData"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/test?useUnicode=true&amp;characterEncoding=UTF-8" />
                <property name="username" value="root"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/Doctor.xml"/>
        <mapper resource="mapper/DoctorInfo.xml"/>
        <mapper resource="mapper/Data.xml"/>
    </mappers>
</configuration>